<div header></div>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">Login</h1>
		<ul class="pull-right breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="">Pages</a></li>
			<li class="active">Login</li>
		</ul>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<form class="reg-page" role="form">
				
				<div class="reg-header">
					<h2>Login to your account</h2>
				</div>

				<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<input type="text" id="username" name="username" ng-model="user.username" placeholder="Username" class="form-control">
				</div>
				<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					<input type="password" id="password" name="password" ng-model="user.password" placeholder="Password" class="form-control">
				</div>

				<div class="row">
					<div class="col-md-6 checkbox">
						<label><input type="checkbox"> Stay signed in</label>
					</div>
					
					<div class="col-md-6 ladda-btn">
						<button class="btn-u pull-right ladda-button" style="width:65px" data-style="contract-overlay" ng-click="jslogin()">
							<span class="ladda-label" ng-click="jslogin()">Login</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
					
				</div>
				<p style="color:red">{{message}}</p>
				<hr>

				<h4>Forgot your password ?</h4>
				<p> <a class="color-green" href="#/reg">Click here</a> to Sign Up.</p>
				<p> <a class="color-green" href="#/reg">Click here</a> to Rest Password.</p>
				
			</form>
		</div>
	</div>
	<!--/row-->
</div>
<!--/container-->
</form>

<!--=== End Content Part ===-->
<div footer></div>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/ladda-buttons/js/spin.min.js"></script>
<script src="assets/plugins/ladda-buttons/js/ladda.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript" src="assets/js/plugins/ladda-buttons.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		StyleSwitcher.initStyleSwitcher();
	});
</script>