<div pageheader></div>
<!--=== Profile ===-->
<div class="container content profile">
   <div class="row">
      <!--Left Sidebar-->
      <div class="col-md-3 md-margin-bottom-40">
         <img class="img-responsive profile-img margin-bottom-20" src="assets/img/default.jpg" alt="Company Logo" onError="this.src='assets/img/default.jpg';">
         <!-- 左边选择框开始 -->
         <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
            <li class="list-group-item active">
               <a ng-click="getaccountinfo('overall')" href=""><i class="fa fa-bar-chart-o"></i>Over All</a>
            </li>
            <li class="list-group-item">
               <a ng-click="getaccountinfo('profile')" href=""><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="list-group-item">
               <a ng-click="getaccountinfo('file')" href=""><i class="fa fa-file"></i> My Files</a>
            </li>
            <li class="list-group-item">
               <a ng-click="getaccountinfo('project')" href=""><i class="fa fa-cubes"></i> My Projects</a>
            </li>
<!--             <li class="list-group-item">
               <a ng-click="getaccountinfo('notification')" href=""><i class="fa fa-comments"></i> Notifications</a>
            </li> -->
            <li class="list-group-item">
               <a ng-click="getaccountinfo('payment')" href=""><i class="fa fa-credit-card"></i> Payments</a>
            </li>
            <li class="list-group-item">
               <a ng-click="getaccountinfo('setting')" href=""><i class="fa fa-cog"></i> Settings</a>
            </li>
         </ul>
         <!-- 左边选择框结束 -->
         <!--Notification-->
         <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
            <a href="#"><i class="fa fa-cog pull-right"></i></a>
         </div>
         <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">
            <li class="notification">
               <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-envelope"></i>
               <div class="overflow-h">
                  <span><strong>Albert Heller</strong> has sent you email.</span>
                  <small>Two minutes ago</small>
               </div>
            </li>
            <li class="notification">
               <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
               <div class="overflow-h">
                  <span><strong>Taylor Lee</strong> started following you.</span>
                  <small>Today 18:25 pm</small>
               </div>
            </li>
            <li class="notification">
               <i class="icon-custom icon-sm rounded-x icon-bg-yellow icon-line fa fa-bolt"></i>
               <div class="overflow-h">
                  <span><strong>Natasha Kolnikova</strong> accepted your invitation.</span>
                  <small>Yesterday 1:07 pm</small>
               </div>
            </li>
            <li class="notification">
               <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
               <div class="overflow-h">
                  <span><strong>Mikel Andrews</strong> commented on your Timeline.</span>
                  <small>23/12 11:01 am</small>
               </div>
            </li>
            <li class="notification">
               <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line fa fa-comments"></i>
               <div class="overflow-h">
                  <span><strong>Bruno Js.</strong> added you to group chating.</span>
                  <small>Yesterday 1:07 pm</small>
               </div>
            </li>
            <li class="notification">
               <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
               <div class="overflow-h">
                  <span><strong>Taylor Lee</strong> changed profile picture.</span>
                  <small>23/12 15:15 pm</small>
               </div>
            </li>
         </ul>
         <button type="button" ng-click="clientlogout()" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
         <!--End Notification-->
         <div class="margin-bottom-50"></div>
         <!--Datepicker-->
         <form action="#" id="sky-form2" class="sky-form">
            <div id="inline-start"></div>
         </form>
         <!--End Datepicker-->
      </div>
      <!--End Left Sidebar-->
      <!-- 主区块开始				 -->
      <!-- Profile Content -->
      <div accountbody class="col-md-9">
      
        
      </div>
      <!-- End Profile Content -->
   </div>
</div>
<!--/container-->
<!--=== End Profile ===-->
<div pagefooter></div>
<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="assets/plugins/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="assets/js/plugins/datepicker.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/datepicker.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript">
   jQuery(document).ready(function() {
   	App.init();
   	App.initCounter();
   	App.initScrollBar();
   	Datepicker.initDatepicker();
   	StyleSwitcher.initStyleSwitcher();
   });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->